
div.nav-bar-outer {
    width: 100%;
    background-color: var(--color-main);
}

header {
    width: 100%;
}

div.nav-bar-inner {
    min-height: 4rem;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-title {
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}