
div.nav-bar-outer {
    width: 100%;
    background-color: var(--color-field);
}

div.nav-bar-outer a.button, div.nav-bar-outer div.field-container, div.nav-bar-outer input {
    background-color: var(--color-bg);
}

a.notlink, a > p.username {
    color: var(--color-bg-contrast);
}

header {
    width: 100%;
}

div.nav-bar-inner {
    min-height: 4rem;
    width: 95%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-title {
    font-weight: bold;
    color: var(--color-contrast-bg);
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 950px) {
    div.nav-bar-outer input {
        width: 80%;
    }
    div.nav-bar-outer nav {
        display: none;
    }
}