<div class="comment-container row">
    <div class="author">
        <div class="profile-picture-container">
            <a href="profile_page.php?username=$author"><img class="profile-picture" src="$img"></a>
        </div>
        <a class="notlink" href="profile_page.php?username=$author"><p class="username">$author</p></a>
    </div>
    <div class="content">
        <div class="comment-text">
            <p>$text</p>
        </div>
        <div class="meta">
            <p class="small date">$date_created</p>
            <button class="like-button">Gilla</button>
        </div>
    </div>
</div>