<div class="comment-container row">
    <div class="author">
        <div class="profile-picture-container">
            <a href="profile_page.php?username=$author"><img class="profile-picture" src="$img"></a>
        </div>
        <a class="notlink" href="profile_page.php?username=$author"><p class="username">$author</p></a>
    </div>
    <div class="content">
        <div class="comment-text">
            <p>$text</p>
        </div>
        <div class="bottom-container row start">
            <div class="meta">
                <p class="small date">$date_created</p>
            </div>
            <div class="button-container small-margin sides row">
                <i alt="thumb_up" id="$id" class="icon material-icons button like-button $liked">thumb_up_alt</i>
                <p>$likes</p>
                <i alt="thumb_down" id="$id" class="icon material-icons button dislike-button $disliked">thumb_down_alt</i>
            </div>
        </div>
    </div>
</div>