
body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans";
    font-weight: lighter;
    color: rgb(69, 69, 69);
}

label {
    font-family: "Open Sans";
    font-weight: bold;
    color: rgb(41, 41, 41);
}

a.button {
    text-decoration: none;
    color: black;
}

input, button, a.button, label.file-upload-button {
    border: none;
    background-color: rgb(233, 233, 233);
    padding: 0.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 1em;
    border-radius: 2em;

    transition: color, background-color, 0.2s;
}

button:hover, a.button:hover, label.file-upload-button:hover {
    background-color: rgb(107, 107, 255);
    color: white;
    cursor: pointer;
}

label.file-upload-button {
    cursor: pointer;
}

label.file-upload-button > p {
    margin: 0;
    padding: 0;
}

input[type="file"] {
    display: none;
}

form > div.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body, main, form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2.warning {
    color: red;
}