
:root {
    --color-main: rgb(107, 107, 255);
    --color-bg: white;
    --color-field: rgb(240, 240, 240);
    --color-field-darker: rgb(179, 179, 179);
    --color-contrast-bg: rgb(41, 41, 41);
}

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans";
    font-weight: lighter;
    color: var(--color-contrast-bg);
    font-size: 20px;
}

label {
    font-family: "Open Sans";
    font-weight: bold;
    color: var(--color-contrast-bg);
}

a.button, a.notlink {
    text-decoration: none;
    font-size: 0.95rem;
}

input, button, label {
    font-size: 0.95rem;
}

input, button, a.button, label.button {
    border: none;
    color: var(--color-contrast-bg);
    background-color: var(--color-field);
    padding: 0.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: 1em;
    border-radius: 2em;

    outline: none;

    transition: color, background-color, 0.2s;
}

.no-margin {
    margin: 0;
}

p.small {
    font-size: 16px;
}

.hidden {
    display: none;
}

.small-margin.sides {
    margin-left: 1rem;
    margin-right: 1rem;
}

.small-margin.height {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

a.button, button, input[type="submit"], label.button {
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:focus:active, button:focus:active, a.button:focus:active, label.file-upload-button:focus:active, label:focus:active {
    background-color: var(--color-field-darker);
}

label.file-upload-button {
    cursor: pointer;
}

label.file-upload-button > p {
    margin: 0;
    padding: 0;
}

input[type="file"] {
    display: none;
}

form > div.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.search-user-container {
    margin-left: 2rem;
}

body, main, form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.row.start, .column.start {
    justify-content: start;
}

.row.space {
    justify-content: space-between;
}

h2.warning {
    color: red;
}

ul, ol, li {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

p.label {
    font-weight: bold;
}

ul {
    background-color: var(--color-field);
    margin-bottom: 0.2rem;
    border-radius: 2rem;
    padding: 0.5rem;
}

div.info.row {
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    justify-content: space-between;
}

div.info.row > p {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
}

img.profile-picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

p.username {
    color: white;
    font-weight: bold;
    font-size: 130%;
    margin: 0;
}

nav > a.button {
    margin-right: 0;
}

div.nav-bar-inner > div.center {
    flex-grow: 1;
}

div.account > a {
    margin-right: 0.8rem;
}

div.profile-picture-container {
    overflow: hidden;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}

div.profile-picture-container.large {
    width: 9rem;
    height: 9rem;
}

.comments-container {
    margin-top: 2rem;
}

.comment-field-container {
    margin-top: 2rem;
}

div.comment-container {
    background-color: var(--color-field);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: 50vw;

    justify-content: space-between;
}

div.content {
    flex-grow: 1;
}

div.author {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 2rem;
}

div.author p.username, div.content p.username {
    color: var(--color-contrast-bg);
}

p.date {
    font-size: 14px;
}

textarea {
    border: none;
    border-radius: 1rem;
    font-family: "Open Sans";
    padding: 1rem;
    outline: none;
    background-color: var(--color-field);
    font-size: 17px;
    resize: none;
    width: 30vw;
}

li.result > div.content {
    background-color: var(--color-field);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 30vw;
}

span.search-term {
    color: var(--color-main);
}